.card-notes {
    height: 80%;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.notes-heading{
    display: flex;
    justify-content: space-between;
}